.image-list-container {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 5px;
    grid-row-end: span 5;
}

.image-list-container img {
    width: 300px;
}